.Title{
    color:purple;
    font-family:'Times New Roman', Times, serif;
}

.Guess{
    color: palevioletred;
    font-family:'Times New Roman', Times, serif;
}

.Posibility{
    color:pink;
    font-family:'Times New Roman', Times, serif;
}